@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sen' , sans-serif;
}

.container {
    max-width: 1440px;
    margin : 0 auto ;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 80px;
    /*border: 1px solid red;*/
}
nav ul img {
    width: 50px;
    height: 50px;
}

.header-logo {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 15px
}
.header-logo h1 {
    margin-left: 15px;
    font-size: 24px;
}

.header-button {
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 600px;
}

.header-button li {
    list-style: none;
}

.header-button li a {
    text-decoration: none;
    color: #21383E;
}

.header-button li a:hover {
    text-decoration: underline;
}
.header-button button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: #fff;
    border: none;
    /***/
    background-image: -webkit-linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient( 90deg, #00766a 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.header-button button:hover {
    cursor: pointer;
    border: 1px solid black;
    color: #000000;
    background-position: 100%;
}

.header-title img{
    width: 1440px;
    height: 600px;
}

.detail {
    background-color: rgb(235, 235, 235);
    width: 1440px;
    margin: 0 auto;
}

.detail-title h1{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 50px;
}

/*-----------------box1--------------------*/


.box-1 {
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.detail-box-left {
    width: 450px;
    height: 300px;
    /*border: 1px solid red;*/
    margin-right: 10px;
    background-color: #9E8C6C;
    border-radius: 20px;

    /***/
    background-image: -webkit-linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;


}
.detail-box-left h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.detail-box-left p {
    display: flex;
    padding: 20px 45px ;
}
.detail-box-right {
    margin-left: 10px;
}
.detail-box-right img{
    width: 450px;
    height: 300px;
    border-radius: 20px;
    /*border: 1px solid red;*/
}
.detail-box-left:hover{
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    background-position: 100%;
}

.detail-box-right img:hover {
    border: 3px solid #9E8C6C;
}

/*-----------------box2--------------------*/
.box-2 {
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.detail-box-right-2 {
    margin-right: 10px;
}
.detail-box-right-2 img{
    width: 450px;
    height: 300px;
    border-radius: 20px;
    /*border: 1px solid red;*/
}
.detail-box-left-2 {
    width: 450px;
    height: 300px;
    /*border: 1px solid red;*/
    margin-left: 10px;
    background-color: #9E8C6C;
    border-radius: 20px;

    /***/
    background-image: -webkit-linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.detail-box-left-2 h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.detail-box-left-2 p {
    display: flex;
    padding: 20px 45px ;
}

.detail-box-left-2:hover{
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    background-position: 100%;
}

.detail-box-right-2 img:hover {
    border: 3px solid #9E8C6C;
}

footer {
    height: 350px;
    width: 1440px;
    display: flex;
    justify-content: center;
    background-color: #f8e8cd;
    margin : 0 auto ;
}

.footer-title h1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 50px;
}

.footer-title h2 {
    font-size: 30px;
    color: #5c6a6e;
    font-weight: 300;
    margin-top: 30px;
}

.footer-icon {
    display: flex;
    font-size: 40px;
    justify-content: space-around;
    width: 200px;
    margin: 30px 35%;
}
.footer-icon a {
    color: #000;
}

#face:hover {
    background-color: #1877F2;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#insta:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

#line:hover {
    background-color: #00B900;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#git:hover {
    cursor: pointer;
}

